Source: account-polld
Section: net
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper (>= 9),
               dh-translations,
               libaccounts-qt5-dev,
               libqtdbusmock1-dev,
               libqtdbustest1-dev,
               libsignon-qt5-dev,
               pkg-config,
               qt5-default,
               qtbase5-dev,
Standards-Version: 3.9.5
Homepage: https://launchpad.net/account-polld
Vcs-Browser: http://bazaar.launchpad.net/~phablet-team/account-polld/trunk/files
Vcs-Bzr: lp:account-polld

Package: account-polld
Architecture: any
Depends: accountsservice,
         ${misc:Depends},
         ${shlibs:Depends},
Built-Using: ${misc:Built-Using}
Recommends: accountsservice,
            account-polld-plugins-go
Description: Poll daemon for notifications though the Ubuntu Push Client
 This component polls twitter and gmail for updates and
 communicates with the postal service provided by the ubuntu push client
 to expose notifications for the click webapps for the aforementioned
 services.
X-Ubuntu-Use-Langpack: yes
