[Desktop Entry]
Categories=Office;
Exec=
GenericName=account-polld-facebook
Name=Facebook
NoDisplay=true
Terminal=false
Type=Application
Icon=facebook
X-Ubuntu-Gettext-Domain=account-polld
