[Desktop Entry]
Categories=Office;
Exec=
GenericName=account-polld-twitter
Name=Twitter
NoDisplay=true
Terminal=false
Type=Application
Icon=twitter
X-Ubuntu-Gettext-Domain=account-polld
